body {
    /* font-family: 'Times New Roman', Times, serif; */
    /* background-image: url("../images/01Background.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
}

.brand-logo {
    margin-left: 10px;
}
nav {
    background-color: rgba(25, 167, 167, 0.53);
}

.parallax > img {
    max-width: 100%;
}

.icon  {
    font-weight: 500px
}