body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ccdbaaf7bb352c17aaf967cf09c1285c&auto=format&fit=crop&w=2734&q=80);
    /* BACKGROUND IMAGE crinkly paper or marble*/

}

#header {
    border-width: 8px;
    border-bottom: solid gray;
    background-color: #ffffff;
}

.container {
    max-width: 960px;
}

img {
    max-width: 300px;
    margin-left: 45px;
}

.carousel-caption {
    max-width: 300px;
    background-color: #4AAAA5;
    width: 100%;
    align-items: center;
}

.carousel-caption a {
    text-decoration: none;
    color: white;
}


#bioPic {
    max-width: 250px;
    float: left;
    margin-right: 20px;
}

.navbar {
    max-height: 90px;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    min-height: 55px;
}

/* keep the logo from being to large */
.navbar-brand > img {
    max-height: 90px;
}

h2 {
    /* padding-left: 20px; */
    font-size: 40px;
    color: #4AAAA5;
    font-weight: bolder;
}

footer {
    max-height: 75px;
    border-top: solid #4AAAA5;
    border-width: 8px;
    background-color: gray;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

